@charset "UTF-8";

/* Declarações gerais */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: -3px 2px 0px rgba(0, 0, 0, 0.24);
    padding: 10px;
}

/* Declarações retratro */

@media screen and (orientation: portrait) {
    body {
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/* Declarações paisagem */

@media screen and (orientation: landscape) {
    body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: bottom left;
    }
}